@{   
    ViewBag.Title = "Record Locked";
}
<div class="record-locked">
    <h1>Record Locked</h1>
    <p />
    <h3>
        You are trying to access a record that is locked by another user.  The user may have gained access to the record because your session timed out.<br /><br />
    </h3>
    <h4>Lock Details:</h4><br/>
    <span>Record  Type: @ViewBag.RecordType</span><br/>
    <span>Id: @ViewBag.RecordId</span><br/>
    <span>Locked By: @ViewBag.User</span>
 
</div>